name: Build Docker

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      NODE_ENV: production

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Packages (optional)
        uses: docker/login-action@v2
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build \
            --build-arg GITHUB_TOKEN=${{ secrets.NPM_TOKEN }} \
            -t my-org/joblance:latest \
            -f Dockerfile.dev .

      - name: Push Docker image (optional)
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: nguyendunghiep20012003/joblance
          build-args: |
            NPM_TOKEN=${{ secrets.NPM_TOKEN }}
          file: Dockerfile
