name: Build Docker

on:
  push:
    tags:
      - 'v*'
      - 'release*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Packages
        uses: docker/login-action@v3
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build \
            --build-arg NPM_TOKEN=${{ secrets.GITHUB_TOKEN }} \
            -t nguyendunghiep20012003/joblance:${{ github.ref_name }} \
            -t nguyendunghiep20012003/joblance:latest \
            -f Dockerfile .

      - name: Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          push: true
          tags: |
            nguyendunghiep20012003/joblance:${{ github.ref_name }}
            nguyendunghiep20012003/joblance:latest
          build-args: |
            NPM_TOKEN=${{ secrets.GITHUB_TOKEN }}
